<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/291cc0a7-dbab-40c5-a759-61805455d7c4/resourcegroups/Hack20230519202417ResourceGroup/providers/Microsoft.Web/sites/Hack2222</ResourceId>
    <ResourceGroup>Hack20230519202417ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://hack2222.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>63263659-7885-4f72-9bb8-6256aa85d83c</ProjectGuid>
    <PublishUrl>https://hack2222.scm.azurewebsites.net/</PublishUrl>
    <UserName>$Hack2222</UserName>
    <_SavePWD>true</_SavePWD>
    <ApiResourceId>/subscriptions/291cc0a7-dbab-40c5-a759-61805455d7c4/resourceGroups/Hack20230519202417ResourceGroup/providers/Microsoft.ApiManagement/service/HackaAPI/apis/Hack</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
  </PropertyGroup>
</Project>